.overalldiv {
    height: 100%;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
}

.menubox {
    width: 350px;
    height: 230px;
    margin: 60px 30px;
    display: block;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.ideabox .menubox:hover {
    text-decoration: underline;
}

.ideabox {
    width: 50%;
    font-size: 70px
}

.ideabox.right {
    float: left;
}

.ideabox.left {
    float: right;
}

.menubox.top.right {
    background-color: #E4D5C8;
    font-family: 'Playfair', serif;
    font-weight: 400;


    font-size: 200px;
}

.menubox.middle.right {
    background-color: #6e7376;

}

.menubox.bottom.right {
    background-color: #eae6df;
}

.menubox.top.left {
    background-image: url("../images/celine.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.menubox.middle.left {
    background-color: #B0B0B0;

}

.menubox.bottom.left {
    background-color: #dbd4C1;

}

.ideamenu.illustration {
    background-image: url(../images/branches.svg);
    float: right;
    height: 180px;
    width: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    bottom: -175px;
    right: 0px;
    position: absolute;
}


img.in-text {
    width: 300px;
    margin: 15px;

    border-radius: 8px;
    /* or with "%" like 3%, makes corners rounded */
}

/*
.menulink:visited {
    color: black;
    opacity: 0.8;
}*/

.in-text.right {
    float: right;
}

.in-text.left {
    float: left;
}
