html,
body {
    height: 100%;
}

body {
    font-family: 'Archivo', sans-serif;
    color: black;
    background-color: #F3ECE8;
    font-size: 18px;
    margin: 0;
    transition: 300ms;
    /* Otherwise the header doesn't cover the whole width */
}

body.dark {
    background-color: #363131;
    color: white;
}

a#switch {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: white;
    border-radius: 100%;
    width: 45px;
    cursor: pointer;
    box-shadow: 0 0 25px 0 white;
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: center;
}

header {
    height: 40px;
    /* obviously bigger than the font size of the logo... */


    /* this makes the first element all the way to the left and the second element all the way to the right */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*box-shadow: 0px 0px 8px 0px #666;*/
    /* If you put a third element, like a logo, it will stay right in the center of the website */
}

#logo {
    font-size: 27px;
    font-family: 'Merriweather', 'sans-serif';
    font-weight: 500;
    color: #C21807;
    float: left;
    padding-left: 5px;
}


.menu {
    float: right;
    margin: 0;
    /* otherwise it's not really IN the header */
}

.menu > li {
    display: inline;
    padding-right: 10px;
    /* space at the RIGHT side of each menu element */
}

a {
    text-decoration: none;
    color: inherit;
}


.un {
    display: inline-block;
}

.un:after {
    content: '';
    width: 0px;
    height: 15px;
    display: block;
    position: absolute;
    background: white;
    transition: 300ms;
    border-radius: 0 5px 5px 0;
    bottom: 20px;
}

.un:hover:after {
    width: 80%;
}
